.pass-reset,
.user-reset {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}
.reset {
  background-color: #ffffff;
  color: #e61c15;
  position: absolute;
  top: 0px;
  left: 30px;
}
.login {
  background-color: #e61c15;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 45px;
}
.input-warning {
  color: #ff0f07;
  font-size: 12px;
}

label {
  color: #261817;
  font-size: 20px;
  font-weight: 200;
  font-family: "Manuale", serif;
}
.passhelp,
.namehelp {
  color: #450806;
  font-size: 20px;
  font-family: "Petrona", serif;
}
.passhelp:hover,
.namehelp:hover {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 7px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 7px solid #a94442;
}
