.login {
  background-color: #e61c15;
  color: #fff;
}
.reset {
  background-color: #ffffff;
  color: #e61c15;
}
label {
  color: #261817;
  font-weight: 200;
  font-family: "Manuale", serif;
}
.passhelp,
.namehelp {
  color: #450806;
  font-family: "Petrona", serif;
}
.passhelp:hover,
.namehelp:hover {
  font-weight: bold;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 7px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 7px solid #a94442;
}
