.pass-reset {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border: 2px solid #1d1b1b;
  background-color: #707070;
  width: 325px;
  height: 300px;
}
.mat-dialog-title,
.mat-dialog-actions,
.mat-dialog-content {
  margin: 0 auto;
}
